<a href="https://colab.research.google.com/github/urness/CS167Fall22Code/blob/main/Day04_Notes_Knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS 167 Machine Learning
## Notes on September 8, 2022

In [ ]:
import pandas
from google.colab import drive
drive.mount('/content/drive')
#go through authentication step

Data can be messy... Note the null (NaN) values

In [ ]:
#import the data and take a look at it
titanic = pandas.read_csv('/content/drive/MyDrive/CS167Fall22/Datasets/titanic.csv')
titanic_slice = titanic[0:7]
titanic_slice

In [ ]:
titanic_slice.isna()

In [ ]:
titanic_slice.isna().any()

In [ ]:
# the entire dataset 
titanic.isna().any()

# solutions to dealing with missing data....

use dropna()

In [ ]:
titanic_copy = titanic.copy()
print("before", titanic_copy.shape)
titanic_copy = titanic_copy.dropna()
print("after", titanic_copy.shape)

In [ ]:
# verify no null values:
titanic_copy.isna().any()

use fillna()

In [ ]:
# calculate the average age
average_age = titanic['age'].mean()
average_age

In [ ]:
titanic_copy = titanic.copy()
titanic_copy["age"] = titanic["age"].fillna(average_age)
print('updated average age: ', titanic_copy["age"].mean())

In [ ]:
titanic_copy[0:7]

In [ ]:
# What is the shape
titanic_copy.shape

In [ ]:
# any null values?
titanic_copy.isna().any()

# Day 4 Notes: k Nearest Neighbors
The following code includes the steps necessary to build a k nearest neighbors model. We'll go through each step, and then I'll ask you to pull these steps together into a function that you can pass a new observation of a flower in to and it will output the species the model predicts that flower is.

In [ ]:
#import the data and take a look at it
iris_data = pandas.read_csv('/content/drive/MyDrive/CS167Fall22/Datasets/irisData.csv')
iris_data.head()

In [ ]:
iris_data['petal width'].mean() #get the average of a column

In [ ]:
# Calculate the distance
import numpy
#adding a new column
iris_data['distance_to_new'] = numpy.sqrt(
    (5.1-iris_data['petal length'])**2
    +(7.2-iris_data['sepal length'])**2
    +(1.5-iris_data['petal width'])**2
    +(2.5-iris_data['sepal width'])**2)
iris_data

In [ ]:
# Sort the data and display it
sorted_data = iris_data.sort_values(['distance_to_new']) 
sorted_data #display it

In [ ]:
# give the top 5 closest neighbors
sorted_data.iloc[0:5]

In [ ]:
# give the most commonly occuring species of the 5 closest neighbors
sorted_data.iloc[0:5]['species'].mode()
#sorted_data.iloc[0:5]['species'].mode()[0] #return just the string

Exercise:
Now it's your turn. Use the code snippets from above to build out a kNN function that takes in specimen, data, and k and ouputs the prediction.

In [ ]:
def knn(specimen, data, k):
  # your code here

In [ ]:
# Use the code below to build a dictionary of values and test your new function:
unknown_iris = {}
unknown_iris['petal length'] = 5.1
unknown_iris['sepal length'] = 7.2
unknown_iris['petal width'] = 1.5
unknown_iris['sepal width'] = 2.5
# 5-NN 
knn(unknown_iris,iris_data,5)